body {
    background-color: #ffd3e2;
    margin: 0;
    overflow-x: hidden;
}
nav {
    background-image: url("https://img.freepik.com/premium-vector/yogurt-drips-strawberry-milk-product-flowing_100011-88.jpg?size=626&ext=jpg&ga=GA1.1.130677348.1662326987&semt=ais");
    height: 150px;
    z-index: 999999;
    background-position:top;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex: 1;
    margin: 0;
}
.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2em;
}
.logo {
    text-decoration: none;
    color: #464646;
    font-size:45px;
    margin-right: auto;
    font-family: 'Great Vibes', cursive;
    text-align: center;
  }
.link {
  margin: 20px;
  text-decoration: none;
  color: #464646;
  text-transform: uppercase;
  text-align:center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 50px;
}
.nav .link {
  flex-grow: 1;
  text-align: center;
}
.image {
  border-radius: 20px;
  margin-top: 10px;
}
.centered {
  position: absolute;
  top: 60%;
  left: 51%;
  transform: translate(-25%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.item {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cake-card {
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 16%;
  width: 100%;
  flex-direction: column;
  margin: 0.7em 1em 1.4em;
}
.card {
  border-radius: 20px;
  border: solid 2px #e9297c;
}
.cake-info {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  width: auto;
}
.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.boxbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}
.btn {
  margin: 35px;
  background-color:#656565;
  color: #ffd3e2;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  cursor: pointer;
}
.btn:hover {
  background-color: #e9297c;
}
.btnbook {
  margin: 10px;
  background-color:#656565;
  color: #ffd3e2;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  cursor: pointer;
}
.btnbook:hover {
  background-color: #e9297c;
}
h1, h3, h4, h2, p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #565656;
}
.choose {
  display: flex;
  justify-content: center;
  color: #464646;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  padding: 10px;
  font-size: 40px;
}
.show {
  border: none;
  background: none;
  color: #E90064;
  font-size: 16px;
}
.containercake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxbook {
  display: flex;
  justify-content: center;
}
.btnbox {
  display: flex;
}
.about {
  display: flex;
  justify-content: center;
}
.story {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 20px;
}
.text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.text1 {
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 1px;
}
.photo {
  margin:20px;
  border-radius: 20px;
  border: solid 2px #e9297c;
}
.footer {
  background: rgb(255,211,226);
  background: linear-gradient(0deg, rgba(255,211,226,1) 50%, rgba(255,255,255,1) 100%);
  width: 100%;
}
.social {
  display: flex;
  justify-content: center;
}
.media {
  margin: 10px;
  padding: 10px;
}
.rights {
  display: flex;
  justify-content: center;
}
.contact {
  background-color: rgba(253, 219, 226, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  z-index: 999999;
}
.form {
  background-color: rgba(253, 219, 226, 0.9);
  display: flex;
  justify-content:center;
  align-items: flex-end;
  width: 100%;
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
.bg {
  background-image: url("https://img.freepik.com/free-photo/monstera-plants-pink-cupcakes-arrangement_23-2148815880.jpg?size=626&ext=jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.address {
  display: flex;
  flex-direction: column;
  padding: 10px;
  letter-spacing: 1px;
}
.phone {
  color: #464646;
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 1px;
}
.phone:hover {
  color: #E90064;
}
iframe {
  margin:20px;
  border-radius: 20px;
  border: solid 2px #e9297c;
}
@media all and (max-width:1030px) {
  .centered {
    top: 65%;
  }
}
@media all and (max-width:913px) {
  .centered {
    top: 35%;
  }
  .text1 {
    font-size: 25px;
  }
  .address {
    font-size: 30px;
  }
  .phone {
    font-size: 30px;
  }
  .boxbook {
    height: 100vh;
  }
}
@media all and (max-width:820px) {
 
  .centered {
    top: 40%;
  }
}
@media all and (max-width:800px) {
  .cake-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    padding: 1rem;
  }
  .text {
    flex-direction: column-reverse;
  }
  .logo {
    font-size: 40px;
  }
}
@media all and (max-width:541px) { 
 .link {
  font-size: 13px;
 }
 .logo {
  font-size: 25px;
  margin-left: 15px;
 }
 .image {
  width: 100%;
  height: 300px;
}
.centered {
  font-size: 15px;
  top: 52%;
}
.boxbtn {
  flex-direction: column;
}
.top {
  justify-content: center;
}
.text {
  flex-direction: column-reverse;
  align-items: center;
}
.btn {
  background: rgb(255,211,226);
  background: radial-gradient(circle, rgba(255,211,226,1) 0%, rgba(255,255,255,1) 100%);
  color: #656565;
  margin: 5%;
  border: 1px solid #ffff;
}
.btn:hover {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,211,226,1) 100%);
}
.btnbook {
  background: rgb(255,211,226);
  background: radial-gradient(circle, rgba(255,211,226,1) 0%, rgba(255,255,255,1) 100%);
  color: #656565;
  border: 1px solid #ffff;
}
  .btnbook:hover {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,211,226,1) 100%);
}
}
@media all and (max-width:500px) { 
  .top {
    justify-content: space-around;
 }
  .logo {
    font-size: 23px;
  }
  .link {
    font-size: 15px;
    margin-right: 5px;
  }
  .centered {
    font-size: 15px;
    top: 70%;
  }
  .image {
    margin-bottom: 150px;
    height: 350px;
  }
  .parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .card {
    width: 350px;
    height: 250px;
  }
  .photo {
    width: 300px;
  }
  .address {
    font-size: 20px;
  }
  .phone {
    font-size: 20px;
  }
  .text1 {
    font-size: 20px;
  }
}
@media all and (max-width:400px) { 
  .link {
    font-size: 13px;
    margin-right: 5px;
  }
  .image {
    height: 280px;
  }
  .centered {
    top: 65%;
    font-size: 14px;
  }
}
@media all and (max-width:394px) { 
  .centered {
    top:55%
  }
}
@media all and (max-width:376px) { 
  .centered {
    top:70%
  }
}
@media all and (max-width:361px) { 
  .centered {
    top: 60%;
  }
}
@media all and (max-width:281px) {
   .card {
    width: 250px;
   }
   .link {
    font-size: 10px;
    margin: 10px;
   }
   .logo {
    font-size: 15px;
   }
   .top {
    justify-content: center;
}
.centered {
  font-size: 13px;
  margin-top: 65px;
}
.photo {
  width: 230px;
}
iframe {
  width: 240px;
}
.choose {
  font-size: 30px;
}
.namecake {
  font-size: 20px;
}
}