body {
    background-color: #ffd3e2;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
nav {
    background-image: url("https://img.freepik.com/premium-vector/yogurt-drips-strawberry-milk-product-flowing_100011-88.jpg?size=626&ext=jpg&ga=GA1.1.130677348.1662326987&semt=ais");
    height: 150px;
    width: 100%;
    z-index: 999999;
    background-position:top;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2em;

}
.logo {
    padding: 0x -0px;
    text-decoration: none;
    color: #464646;
    font-size:45px;
    margin-right: auto;
    font-family: 'Great Vibes', cursive;
    text-align: center;
  }
.link {
  padding: 5px;
  margin: 15px;
  text-decoration: none;
  color: #464646;
  text-transform: uppercase;
  text-align:center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.nav .link {
  flex-grow: 1;
  text-align: center;
}
.image {
    border-radius: 20px;
    margin-top: 10px;
}
.centered {
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translate(-25%, -50%);
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.item {
  align-items: center;
    display: flex;
    flex-direction: column;
}
.cake-card {
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 16%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.7em 1em 1.4em;
}
.card {
  border-radius: 20px;
  border: solid 2px #e9297c;
}
.box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.boxbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.btn {
  margin: 35px;
  background-color:#656565;
  color: #ffd3e2;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  cursor: pointer;
}
.btn:hover {
  background-color: #e9297c;
}
h1, h3, h4, h2, p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #464646;
}
.choose {
  display: flex;
  justify-content: center;
  color: #464646;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  padding: 10px;
  font-size: 40px;
}
.show {
  border: none;
  background: none;
  color: #E90064;
  font-size: 16px;
}
.booknow {
  width: 100%;
  height: 100vh;
display: flex;
justify-content: center;
align-items: flex-end;
}
.containercake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 185px;
}
.btnbox {
  height: 500px;
  display: flex;
  align-items: center;
}
.about {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
}
.story {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-top: 200px;
  padding: 20px;
}
.text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.text1 {
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 1px;
}
.photo {
  margin:20px;
  border-radius: 20px;
  border: solid 2px #e9297c;
}
.footer {
  background: rgb(255,211,226);
  background: linear-gradient(0deg, rgba(255,211,226,1) 50%, rgba(255,255,255,1) 100%);

}
.social {
  display: flex;
  justify-content: center;
}
.media {
  margin: 10px;
  padding: 10px;
}
.rights {
  display: flex;
  justify-content: center;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  z-index: 999999;
}
.form {
  display: flex;
  justify-content:center;
  align-items: flex-end;
  width: 100%;
  height: 310px;
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
.address {
  display: flex;
  flex-direction: column;
  padding: 10px;
  letter-spacing: 1px;
}
.phone {
  color: #464646;
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 1px;
}
.phone:hover {
  color: #E90064;
}
iframe {
  margin:20px;
  border-radius: 20px;
}
@media all and (max-width:800px) {
  .cake-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
  }
 .logo {
  font-size: 27px;
 }
 .link {
  font-size: 16px;
 }
}
@media all and (max-width:800px) { 
  .logo {
    font-size: 23px;
   }
   .link {
    font-size: 15px;
   }
}
